
.box {
  min-height: 100px;
  width: 50%;
  margin: auto;
}

.white {
	  background-color: #fff;
	  min-height:150px;
}

.dark_blue {
  background-color: #7FFF00;
}

.light_blue {
  background-color: #3CB371;
}

.green {
  background-color: #FFFF00;
}
