
.box {
  min-height: 100px;
  width: 30%;
  margin: auto;
}

.white {
	  background-color: #fff;
	  min-height:150px;
}

.dark_blue {
  background-color: #ADFF2F;
}

.light_blue {
  background-color: #3CB371;
}

.green {
  background-color: #FFFF00;
}
